/* Root styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f5f5;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
